/* styles.css */

* {
	font-family: Arial;
	line-height: 1.4em;
}

body.homepage {
	background-color:white;
}

body.page2 {
	background-color:rgb(75, 75, 122); 
}

body.page3 {
	background-color: black;
	color:aliceblue;
	text-align: center;
}

p a {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.3em;
	color: rgb(165, 84, 179);
	text-decoration: none;
	font-weight: bold;
}

p a:hover {
	color: dodgerblue;
	border-bottom: 2px dotted dodgerblue;
}

ul.choices {
	list-style-type: none;
	width: 90%;
}

ul.choices li a {
	color: rgb(35, 14, 88);
	text-decoration: none;
	font-weight: bold;
	display: block;
	border: 4px dashed #2e3d28; 
	background-color: cyan;
	margin: 10px;
	padding: 15px 18px;
}

ul.choices li a:hover {
	color: cyan;
	background-color: #2e3d28;
}

img {
	padding: 100px;
	border-radius: 10px 40px 5px 0;
	
}

img:hover {
	background: #ooo;
}
